*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border: none;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: gold;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: red;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #f1f1f15c;
  padding: 8% 0;
}

.todo-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
  background-color: gold;
  box-shadow: 0 0 10px rgb(255, 2, 2);
  padding: 2%;
}

li {
  list-style: none;
}

form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

ul,
li,
.user-input {
  width: 100%;
  height: auto;
}

.user-input,
.editInput {
  padding: 1%;
  background-color: gold;
  border: none;
}

span,
.editInput {
  width: 100%;
  height: auto;
}

.user-input:focus,
.editInput:focus {
  outline: none;
}

.todo {
  display: flex;
  width: 100%;
  gap: 5%;
  align-items: center;
  height: auto;
}
